* {
    margin: 0;
}

.img_perfil {
    width: 300px;
    border-radius: 100%;
}

.container_img {
    display: flex;
}

h1 {
    color: #2C2E43;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    width: 200px;
    background-color: #2C2E43;
    color: white;
    transition: all 0.5s;
    text-align: center;
    font-size: 20px;
    border-radius: 10px;
    padding: 10px 20px 10px 20px;
    border: none;
    margin-top: 10px;
}

.custom-file-upload {
    width: 200px;
    background-color: #2C2E43;
    color: white;
    transition: all 0.5s;
    text-align: center;
    font-size: 15px;
    border-radius: 10px;
    padding: 10px 20px 10px 20px;
    border: none;
    margin-top: 10px;
}

.custom-file-upload:hover {
    background-color: #2c2e43cc;
    cursor: pointer;
}

.infos_user {
    display: flex;
    justify-self: flex-start;
    align-items: center;
    flex-direction: column
}

.alerta {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 10px;
    color: #2C2E43;
}


/* ============= Table infos ============= */

.table_display {
    display: flex;
}

td {
    height: 25px;
    vertical-align: top;
    /* background-color: antiquewhite; */
}

.titulo_td {
    width: fit-content;
    text-align: end;
    vertical-align: middle;
}

.sobre_td {
    width: 400px;
    vertical-align: middle;
}

.input-editar {
    width: 330px;
    margin-left: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: solid #2f2f2f 1px;
    padding: 5px;
}

.titulo {
    color: #2C2E43;
    font-weight: bold;
}

.editar_info {
    width: 200px;
    background-color: #2C2E43;
    color: white;
    transition: all 0.5s;
    font-size: 15px;
    border-radius: 10px;
    padding: 10px 20px 10px 20px;
    border: none;
}

.editar_info:hover {
    background-color: #2c2e43cc;
    cursor: pointer;
}

input:focus {
    outline: none;
}