


body{
    font-family: 'Roboto', sans-serif;
    background-color: #f0f0f0;
}

header{
    background: white;
    width: 100%;
    height: 100px;
    position: sticky;
}

header a{
    text-decoration: none;
    color: white;
}

header td{
    padding: 5px;
    width: 70px;
    background-color: #FFD523;
    text-align: center;
}

.logo-cabecalho{
    width: 175px;
    float: left;
    position: relative;
    bottom: 43px;
}

header nav{
    position: relative;
    top: 30px;
}

header .td-left{
    border-radius: 15px 0px 0px 15px;
}

header .td-right{
    border-radius: 0px 15px 15px 0px;
}
header .td-search{
    border-radius: 0px 15px 15px 0px;
}

header .cetralizar{
    width: 900px;
    margin: 0 auto;
}




